@media screen and (max-width: 900px) {
  .header {
    font-size: 30px;
  }
  .grid-container {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .header {
    font-size: 30px;
  }
  .grid-container {
    margin: 2% 5% 12vh 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .floritura {
    width: 46.5px;
    height: 17px;
  }

  .linea {
    width: 255px;
    height: 17px;
  }
}
