@media screen and (max-width: 900px) {
  .card {
    width: 40vw;
    margin-top: 30px;
    margin-bottom: 40px;
    position: center;
  }
}
@media screen and (max-width: 450px) {
  .card {
    width: 60vw;
    margin-bottom: 40px;
    position: center;
  }
}
