<div *ngIf="!reyes()"
  class="scala">
  <div class="card">
    <div class="card__seccion">
      <div class="card__seccion__numero">
        {{value.numero}}
      </div>
      <div class="card__seccion__frase">
        <div class="card__seccion__frase__serie">
          {{value.serie}}ª
        </div>
        <div class="card__seccion__frase__fraccion">
          {{value.fraccion}}ª
        </div>
        <div class="card__seccion__frase__precio">
          {{value.precio}}
        </div>
      </div>
    </div>
  </div>
  <div class="compra">
    <button class="aceptar"
      (click)="comprar(value.numero)">Comprar boleto</button>
  </div>
</div>

<div *ngIf="reyes()"
  class="scala">
  <div class="cardR">
    <div class="card__seccion">
      <div class="card__seccion__numero">
        {{value.numero}}
      </div>
      <div class="card__seccion__frase">
        <div class="card__seccion__frase__serie">
          {{value.serie}}ª
        </div>
        <div class="card__seccion__frase__fraccion">
          {{value.fraccion}}ª
        </div>
        <div class="card__seccion__frase__precio">
          {{value.precio}}
        </div>
      </div>
    </div>
  </div>
  <div class="compra">
    <button class="aceptar"
      (click)="comprar(value.numero)">Comprar boleto</button>
  </div>
</div>
