<div *ngIf="!reyes()" class="scala">
  <div class="card">
    <div class="card__seccion">
      <div class="card__seccion__numero">
        {{value.numero}}
      </div>
      <div class="card__seccion__frase">
        <div class="card__seccion__frase__precio">
          {{value.precio}}
        </div>
      </div>
    </div>
  </div>
  <div class="compra">
    <button class="aceptar" (click)="comprar(value.numero, true)">Comprar boleto</button>
    <input type="number" class="cantidad" [(ngModel)]="cantidad">
  </div>
</div>

<div *ngIf="reyes()" class="scala">
  <div class="cardR">
    <div class="card__seccion">
      <div class="card__seccion__numero">
        {{value.numero}}
      </div>
      <div class="card__seccion__frase">
        <div class="card__seccion__frase__precio">
          {{value.precio}}
        </div>
      </div>
    </div>
  </div>
  <div class="compra">
    <button class="aceptar" (click)="comprar(value.numero, false)">Comprar boleto</button>
    <input type="number" class="cantidad" [(ngModel)]="cantidad">
  </div>
</div>
