<div class="container">
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="circle"></div>
  <div class="container__titulo">Nuestros clientes satisfechos nos respaldan</div>
  <div class="container__slider">
    <button mat-icon-button (click)="showPrevious()" class="prev-button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div class="grid-container">
      <div *ngFor="let item of dataSlice" class="carta">
        <app-card [value]="item" class="item"></app-card>
      </div>
    </div>
    <button mat-icon-button (click)="showNext()" class="next-button">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
