<div class="contenedor">
  <div class="slider">
    <div class="slide-text">
      <div class="contenedor-texto">
        <h2>{{ slides[currentImageIndex].description }}</h2>
      </div>
      <div class="navigation-dots">
        <span
          *ngFor="let slide of slides; let i = index"
          class="dot"
          [class.active]="i === currentImageIndex"
          (click)="changeSlide(i)"
        ></span>
      </div>
    </div>

    <div class="slide-image">
      <img
        [src]="slides[currentImageIndex].imageUrl"
        [alt]="slides[currentImageIndex].title"
      />
    </div>
  </div>
</div>
