<div mat-title class="fondoblanco">
  <h1>CONTIGO DESDE 1946</h1>

 <div class="container">
    <div class="div1">
      <div > <img src="assets/touchscreen1.svg" alt="Atención personalizada" width="40" height="40">

      </div>
      <div><h2>Atención personalizada</h2></div>
      <div><p>Nuestro equipo se preocupa por brindarte un servicio atento y personalizado.Estamos dispuestos a responder tus preguntas y ayudarte a encontrar tu número de lotería favorito.</p></div>
    </div>
    <div class="div1">
      <div>  <img src="assets/online-payment1.svg" alt="" width="40" height="40">

      </div>
      <div><h2>Acceso Mascotas</h2></div>
      <div><p>Valoramos a todos nuestros clientes por igual, incluso los que no pueden hablar, asi que aquí puedes entrar con tu mascota y disfrutar de la experiencia de comprar boletos juntos.</p></div>
    </div>
    <div class="div1">
      <div>  <img src="assets/online-payment1.svg" alt="" width="40" height="40">

      </div>
      <div><h2>Ubicación privilegiada</h2></div>
      <div><p>Nos encontramos en la histórica Plaza Mayor de Viveiro. Siempre estamos en un lugar céntrico y conveniente para que puedas visitarnos durante tus paseos por la ciudad.</p></div>
    </div>
    <div class="div1">
      <div>  <img src="assets/online-payment1.svg" alt="" width="40" height="40">

      </div>
      <div><h2>Tradición y suerte</h2></div>
      <div><p> Con más de 70 años de historia, tenemos una sólida trayectoria de premios repartidos. Confía en nuestra experiencia y participa en los juegos de Loterías y Apuestas del Estado con total tranquilidad.</p></div>
    </div>
 </div>



</div>


