<div class="grid-botes">
  <div class="eurom">
    <div class="imagen" id="eurom"></div>
    <p class="bote" *ngIf="botes[0]!=0">{{botes[0]}}<span *ngIf="!booleanos[0]" class="euros">€</span></p>
    <p class="millones" *ngIf="booleanos[0]">MILLONES</p>
  </div>
  <div class="primi">
    <div class="imagen" id="primi"></div>
    <p class="bote" *ngIf="botes[1]!=0">{{botes[1]}}<span *ngIf="!booleanos[1]" class="euros">€</span></p>
    <p class="millones" *ngIf="booleanos[1]">MILLONES</p>
  </div>
  <div class="bono">
    <div class="imagen" id="bono"></div>
    <p class="bote" *ngIf="botes[2]!=0">{{botes[2]}}<span *ngIf="!booleanos[2]" class="euros">€</span></p>
    <p class="millones" *ngIf="booleanos[2]">MILLONES</p>
  </div>
  <div class="gordo">
    <div class="imagen" id="gordo"></div>
    <p class="bote" *ngIf="botes[3]!=0">{{botes[3]}}<span *ngIf="!booleanos[3]" class="euros">€</span></p>
    <p class="millones" *ngIf="booleanos[3]">MILLONES</p>
  </div>
  <div class="eurod">
    <div class="imagen" id="eurod"></div>
    <p class="bote" *ngIf="botes[4]!=0">{{botes[4]}}<span *ngIf="!booleanos[4]" class="euros">€</span></p>
    <p class="dream">AL MES DURANTE 30 AÑOS</p>
  </div>
  <div class="lotn">
    <div class="imagen" id="lotn"></div>
    <p class="bote" *ngIf="botes[5]!=0">{{botes[5]}}<span *ngIf="!booleanos[5]" class="euros">€</span></p>
    <p class="dream">1ER PREMIO A LA SERIE</p>
  </div>
  <div class="quini">
    <div class="imagen" id="quini"></div>
    <p class="bote" *ngIf="botes[6]!=0">{{botes[6]}}<span *ngIf="!booleanos[6]" class="euros">€</span></p>
  </div>
  <div class="lotot">
    <div class="imagen" id="lotot"></div>
    <p class="bote" *ngIf="botes[7]!=0">{{botes[7]}}<span *ngIf="!booleanos[7]" class="euros">€</span></p>
    <p class="millones" *ngIf="booleanos[7]">MILLONES</p>
  </div>
  <div class="quinig">
    <div class="imagen" id="quinig"></div>
    <p class="bote" *ngIf="botes[8]!=0">{{botes[8]}}<span *ngIf="!booleanos[8]" class="euros">€</span></p>
  </div>
  <div class="quint">
    <div class="imagen" id="quint"></div>
    <p class="bote" *ngIf="botes[9]!=0">{{botes[9]}}<span *ngIf="!booleanos[9]" class="euros">€</span></p>
  </div>
</div>
