.grid-botes{
    display: grid;
    font-family: Rajdhani, sans-serif;
    grid-template-columns: repeat(10, 10%);
    width: 100%;
    height: 15vh;
    text-align: center;
    background-color: white;
}

.eurom{
    border-bottom: 6px solid #001367;
    color: #001367;
  :hover{
      background-image: linear-gradient(to top,#001367,#fff);
  }
}
.primi{
    border-bottom: 6px solid #008547;
    color:#008547;
  :hover{
      background-image: linear-gradient(to top,#008547,#fff);
  }
}
.bono{
    border-bottom: 6px solid #7a8634;
    color:#7a8634;
  :hover{
      background-image: linear-gradient(to top,#7a8634,#fff);
  }
}
.gordo{
    border-bottom: 6px solid #dc3f47;
    color:#dc3f47;
    :hover{
      background-image: linear-gradient(to top,#dc3f47,#fff);
  }
}
.eurod{
    border-bottom: 6px solid #6b3e98;
    color:#6b3e98;
  :hover{
      background-image: linear-gradient(to top,#6b3e98,#fff);
  }
}
.lotn{
    border-bottom: 6px solid #007ac0;
    color:#007ac0;
  :hover{
      background-image: linear-gradient(to top,#007ac0,#fff);
  }
}
.quini{
    border-bottom: 6px solid #CB1517;
    color:#CB1517;
  :hover{
      background-image: linear-gradient(to top,#CB1517,#fff);
  }
}
.lotot{
    border-bottom: 6px solid #d16929;
    color: #d16929;
    :hover{
      background-image: linear-gradient(to top,#d16929,#fff);
  }
}
.quinig{
    border-bottom: 6px solid #74bacd;
    color:#74bacd;
  :hover{
      background-image: linear-gradient(to top,#74bacd,#fff);
  }
}
.quint{
    border-bottom: 6px solid #eab842;
    color:#eab842;
  :hover{
      background-image: linear-gradient(to top,#eab842,#fff);
  }
}

.imagen{
    z-index: 1 ;
    width: 90%;
    height: 60%;
    margin-left: 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#eurom{
    background-image: url('../../assets/iloveimg-resized/cabecera_EuromillonesAJ.png');
}

#primi{
    background-image: url('../../assets/iloveimg-resized/cabecera_PrimitivaAJ.png');
}

#bono{
    background-image: url('../../assets/iloveimg-resized/cabecera_BonolotoAJ.png');
}

#gordo{
    background-image: url('../../assets/iloveimg-resized/cabecera_ElGordoAJ.png');
}

#eurod{
    background-image: url('../../assets/iloveimg-resized/cabecera_EuroDreamsAJ.png');
}

#lotn{
    background-image: url('../../assets/iloveimg-resized/cabecera_LoteriaNacionalAJ.png');
}

#quini{
    background-image: url('../../assets/iloveimg-resized/cabecera_LaQuinielaAJ.png');
}

#lotot{
    background-image: url('../../assets/iloveimg-resized/cabecera_LototurfAJ.png');
}

#quinig{
    background-image: url('../../assets/iloveimg-resized/cabecera_QuinigolAJ.png');
}

#quint{
    background-image: url('../../assets/iloveimg-resized/cabecera_QuintupleAJ.png');
}

.bote{
  font-size: 30px;
  font-weight: 700;
  margin-top: 5%;
  margin-bottom: 1%;
}

.euros{
  font-size: 20px;
}

.millones{
  font-size: 18px;
}
.dream{
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
