<div class="grid-botes">
  <div class="eurom">
    <div class="imagen" id="eurom"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[0].fecha)">{{sonMillones(this.ultimosBotes[0].cantidad, 0)}}<span *ngIf="!millones[0]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[0]">MILLONES</p>
  </div>
  <div class="primi">
    <div class="imagen" id="primi"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[1].fecha)">{{sonMillones(this.ultimosBotes[1].cantidad, 1)}}<span *ngIf="!millones[1]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[1]">MILLONES</p>
  </div>
  <div class="bono">
    <div class="imagen" id="bono"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[2].fecha)">{{sonMillones(this.ultimosBotes[2].cantidad, 2)}}<span *ngIf="!millones[2]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[2]">MILLONES</p>
  </div>
  <div class="gordo">
    <div class="imagen" id="gordo"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[3].fecha)">{{sonMillones(this.ultimosBotes[3].cantidad, 3)}}<span *ngIf="!millones[3]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[3]">MILLONES</p>
  </div>
  <div class="eurod">
    <div class="imagen" id="eurod"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[4].fecha)">{{sonMillones(this.ultimosBotes[4].cantidad, 4)}}<span *ngIf="!millones[4]" class="euros">€</span></p>
    <p class="dream">AL MES DURANTE 30 AÑOS</p>
  </div>
  <div class="lotn">
    <div class="imagen" id="lotn"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[5].fecha)">{{sonMillones(this.ultimosBotes[5].cantidad, 5)}}<span *ngIf="!millones[5]" class="euros">€</span><span *ngIf="millones[5]" class="euros">mill</span></p>
    <p class="dream">1ER PREMIO A LA SERIE</p>
  </div>
  <div class="quini">
    <div class="imagen" id="quini"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[6].fecha)">{{sonMillones(this.ultimosBotes[6].cantidad, 6)}}<span *ngIf="!millones[6]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[6]">MILLONES</p>
  </div>
  <div class="lotot">
    <div class="imagen" id="lotot"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[7].fecha)">{{sonMillones(this.ultimosBotes[7].cantidad, 7)}}<span *ngIf="!millones[7]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[7]">MILLONES</p>
  </div>
  <div class="quinig">
    <div class="imagen" id="quinig"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[8].fecha)">{{sonMillones(this.ultimosBotes[8].cantidad, 8)}}<span *ngIf="!millones[8]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[8]">MILLONES</p>
  </div>
  <div class="quint">
    <div class="imagen" id="quint"></div>
    <p class="bote" *ngIf="!esFechaAnterior(this.ultimosBotes[9].fecha)">{{sonMillones(this.ultimosBotes[9].cantidad, 9)}}<span *ngIf="!millones[9]" class="euros">€</span></p>
    <p class="millones" *ngIf="millones[9]">MILLONES</p>
  </div>
</div>
