<div class="contenedor">
  <div class="contizq">

    <h1 class="texto1">Tienda de Lotería en Viveiro</h1>
    <h1 class="texto2">{{apertura}}</h1>
    <div class="contizq-botones">
      <button class="white-text-button" (click)="btnAction('Contactanos')">Contáctanos</button>
      <button (click)="btnAction('Consulta')">Consulta los boletos premiados</button>
      <button (click)="btnAction('Compra')">Compra tus boletos aquí</button>
    </div>
  </div>

  <div class="contder">
    <div class="img-container">
        <img src="../../assets/logo_administración.png" alt="">
    </div>
  </div>
</div>


