@media screen and (max-width: 900px) {

  .review{
    width: 60vw;

    &__persona{
      width: 50%;
    }
  }
}

@media screen and (max-width: 450px) {

  .review{
    width: 50vw;
    &__card{
      height: fit-content;
      padding: 20px;
    }
    &__persona{
      width: 100%;
    }
  }
}
